---
import { slide } from "astro:transitions";
---
<div class="nav-links" transition:animate={slide ({duration : '0.2s'})}>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div>